
<div class="form-container">
  <h1>Mi Lista de Tareas</h1>
  <form action="/todosPanel" method="post">
    <div>
      <label>Titulo:</label>
      <input type="text" name="title" />
    </div>

    <div class="check">
      <label>
        Completado?
        <input type="checkbox" name="completed" value="1" />
      </label>
    </div>
    <button id="btnAnadir" type="submit">Añadir</button>
  </form>
  <div id="tablaContainer" style="max-height: 400px; overflow-y: auto;">
  <table id="myTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <% todos.forEach(function(todo) { %>
      <tr>
        <td><%= todo.id %></td>
        <td>
            <input type="text" id="title<%= todo.id %>" value="<%= todo.title %>">
        </td>
        <td>
            <select id="completed<%= todo.id %>">
                <option value="true" <%= todo.completed == true ? 'selected' : '' %>>Completo</option>
                <option value="false" <%= todo.completed == false ? 'selected' : '' %>>Incompleto</option>
            </select>
        </td>
        <td>
            <button onclick="actualizar(<%= todo.id %>)">Actualizar</button>
            <button id="btnEliminar" onclick="eliminar(<%= todo.id %>)">Eliminar</button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
 
</div>

<script>
function eliminar(id) {
    console.log(id)
    fetch(`/todosPanel/${id}`, {
        method: 'DELETE'
    })
    .then(response => response.text())
    .then(data => {
        
        console.log('Tarea eliminada:', data);
        location.reload();
    })
    .catch(error => console.error('Error al eliminar la tarea:', error));
}

function actualizar(id) {
    const titleInput = document.getElementById(`title${id}`);
    const title = titleInput.value.trim(); 
    const completed = document.getElementById(`completed${id}`).value === 'true' ? true : false;

    // Validar que el título no esté vacío ni nulo
    if (!title) {
        alert('El título no puede estar vacío');
        return; 
    }

    fetch(`/todosPanel/${id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ title, completed })
    })
    .then(response => {
        if (response.ok) {
            console.log('Tarea actualizada correctamente');
            location.reload();
        } else {
            throw new Error('Error al actualizar la tarea');
        }
    })
    .catch(error => console.error('Error:', error));
}

function verificarScroll() {
    var tablaHeight = $('#myTable').outerHeight(); 
    var contenedorHeight = $('#tablaContainer').height(); 
    if (tablaHeight > contenedorHeight) {
      $('#tablaContainer').css('overflow-y', 'scroll');
    } else {
      $('#tablaContainer').css('overflow-y', 'auto');
    }
  }
</script>
